*.[aod]
version.h
src/ginnungagap/ginnungagap
.cproject
.project
.settings/
.*.swp
Makefile.config
config.log
config.h
src/libgrid/libgrid_tests
src/libgrid/*Test*.silo
src/libutil/libutil_tests
src/libcosmo/libcosmo_tests
tools/makeSiloRoot/makeSiloRoot
tools/grafic2bov/grafic2bov
tools/grafic2gadget/grafic2gadget
tools/estimateMemReq/estimateMemReq
tools/showFreqs/showFreqs
tmp/
