*.[aod]
version.h
src/ginnungagap/ginnungagap
.cproject
.project
.settings/
.*.swp
Makefile.config
config.log
config.h
gmon.out
TAGS
cscope.out
bin/

src/libgrid/libgrid_tests
src/libgrid/*Test*.silo

src/libutil/libutil_tests
src/libutil/empty.grafic
src/libutil/groupiTest.*
src/libutil/writeTest.grafic
src/libutil/writeWindowed.grafic

src/libcosmo/libcosmo_tests
src/libcosmo/pk_from_tf.dat

src/libpart/libpart_tests

tools/makeSiloRoot/makeSiloRoot

tools/grafic2bov/grafic2bov

tools/grafic2gadget/grafic2gadget

tools/estimateMemReq/estimateMemReq

tools/showFreqs/showFreqs

tools/makeMask/makeMask

tools/realSpaceConstraints/realSpaceConstraints

tmp/

doc/Doxyfile
doc/ref/
doc/doxygen.warning
doc/doxygen.log
