*.[aod]
version.h
src/ginnungagap/ginnungagap
.cproject
.project
.settings/
.*.swp
Makefile.config
config.log
config.h
src/libgrid/libgrid_tests
src/libutil/libutil_tests
src/libcosmo/libcosmo_tests
src/libcosmo/test.dat
